/* src/styles/sidebar.css */

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #111;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-logo {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 200px;
  }
  
  .sidebar-menu {
    flex: 1;
    
  }
  
  .menu-item {
    display: block;
    color: #aaa;
    text-decoration: none;
    margin-bottom: 14px;
    font-size: 13px;
  }
  
  .menu-item.active,
  .menu-item:hover {
    color: #fff;
  }
  
  .sidebar-footer {
    font-size: 11px;
    color: #777;
  }
  